package components

templ Experience() {
	<div class="flex flex-wrap py-8">
		for _, item := range experiences {
			<div class="w-full xl:w-1/2">
				<div class="px-2">
					<div class="py-3">
						@H3(item.company)
					</div>
					<div class="w-full px-6 py-3 mt-6 mb-12 backdrop-blur bg-white/5">
						<div class="py-2 flex flex-col md:flex-row gap-2 justify-between">
							<p class="text-2xl font-semibold">{ item.title }</p>
							<p class="text-xl">{ item.duration }</p>
						</div>
						<div class="py-2">
							<ul class="list-disc list-inside">
								for _, item := range item.description {
									<li>{ item }</li>
								}
							</ul>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
}

type ExperienceItem struct {
	title       string
	company     string
	duration    string
	description []string
}

var experiences []ExperienceItem = []ExperienceItem{
	{
		title:    "Software Engineer",
		company:  "eBay Inc",
		duration: "Dec 2024 - Present",
		description: []string{
			"Software Architecture & Software Development.",
			"Vue to React Migration of Internal tool.",
			"Design advanced data fetching for API Performance Tracking and retrying.",
		},
	},
	{
		title:    "Platform Developer",
		company:  "Cogitanda DataProtect AG",
		duration: "Mar 2024 - Aug 2024",
		description: []string{
			"Software Architecture & Software Development.",
			"Software and System Design for web applications.",
			"CSS & JS Library Development.",
		},
	},
	{
		title:    "Full Stack Developer (Working Student)",
		company:  "SeDoMo GmbH (SeDoMo.io)",
		duration: "Aug 2022 - Feb 2024",
		description: []string{
			"Feature & Digital User Experience Enhancement.",
			"End-to-end Development delivery in Agile Environment.",
			"Feature Proritization & Implementation Strategies design.",
		},
	},
	{
		title:    "Software Engineering Team Lead",
		company:  "Good Old Geek IT-Services",
		duration: "Nov 2020 - Mar 2022",
		description: []string{
			"Mentored Interns in React & React Native.",
			"MERN Stack with NextJS & Cross-Platform Development.",
			"Code Review, Code Quality & Deployment Strategies.",
		},
	},
	{
		title:    "Jr. Software Engineer",
		company:  "Good Old Geek IT-Services",
		duration: "Aug 2020 - Oct 2020",
		description: []string{
			"Developed and maintained the platform.",
			"Worked on the frontend and backend.",
			"Implemented new features and fixed bugs.",
		},
	},
	{
		title:    "Software Engineer (Intern)",
		company:  "Good Old Geek IT-Services",
		duration: "May 2020 - Jul 2020",
		description: []string{
			"Wordpress & WooCommerce Development.",
			"Web & Social Media Assets Development with Adobe Suite.",
			"PHP & MySQL Development for Web Applications.",
		},
	},
}
